<app-alert>Loaing Alert</app-alert>

<div class="row">
    <div class="col px-5 py-5">
        <h5 class="justify-content-center">Give the gift of life-changing education!</h5>
        <p class="text-secondary">Anjali lives with her family in a one-room tenement in India, but dreams of changing the world. Learn how she’s using Khan Academy to get there.</p>
    </div>
    <div class="col px-5 py-5">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://youtu.be/VltFqtzwS6o"></iframe>
          </div>
    </div>
</div>
