<nav class="navbar">
    
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle text-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Courses
      </button>
      <ul class="dropdown-menu p-4 dropdown-menu-light" style="max-width: 1000px;" aria-labelledby="dropdownMenuButton2" >
        <div class="list-group list-group-horizontal list-group-flush text-primary">
          <a href="#" class="list-group-item-action text-primary" href="#">Math: Pre-K - 8th Grade</a>
          <a href="#" class="list-group-item-aciton text-primary" href="#">Math: High School & College</a>
          <a href="#" class="list-group-item-action text-primary" href="#">Science</a>
          <a href="#" class="list-group-item-action text-primary" href="#">Arts & Humanities</a>
          <a href="#" class="list-group-item-action text-primary" href="#">Reading & Language Arts</a>
        </div>
      </ul>
    </div>
    
    <ul class="nav">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            </button>
        </form>
      </div>
    </ul>

<ul class="nav justify-content-center mx-auto">
    <li class="nav-item"><a class="navbar-brand" href="#">
      <img src="./assets/khanacademy.png" alt="" width="50" height="30" class="d-inline-block align-text-top">
        Khan Academy
    </a></li>
</ul>

<ul class="nav">
    <li class="nav-item"><a class="nav-link text-green" href="#">
        Donate
    </a></li>
    <li class="nav-item"><a class="nav-link text-green" href="#">
        Login
    </a></li>
    <li class="nav-item"><a class="nav-link" href="#">
      Sign up
    </a></li>
</ul>
</nav>
