<div class="bg-primary">
    <div class="row row-cols-5 border-top">
        <div class="col"> </div>
        <div class="col mb-5 ml-5 mt-1">
            <p class="text-white">Our mission is to provide a free, world-class education to anyone, anywhere.</p>
            <p class="text-white">Khan Academy is a 501(c)(3) nonprofit organization. <a href="#" class="text-white">Donate</a> or <a href="#" class="text-white">Volunteer</a> today!</p>
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>About</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>News</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Impact</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our interns</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our content specialists</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our leadership</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our supporters</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our contributors</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Our finances</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Careers</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Internships</small></a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p class="text-white"><small>Contact</small></p>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Help center</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Support community</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Share your story</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Press</small></a>
                </li>
                <li class="nav-item mb-2"></li>
                <li class="nav-item mb-2"></li>
                <li class="nav-item mb-4"></li>
                <li class="nav-item mb-2">
                    <p class="text-white"><small>Download our apps</small></p>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>iOS app</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Android app</small></a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p class="text-white"><small>Courses</small></p>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Math: Pre-K - 8th grade</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Math: Get ready courses</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Math: high school & college</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Test prep</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Science</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Computing</small></a>
                </li>
                <li class="nav-item mb-4">
                    <a href="#" class="nav-link p-0 text-white"><small>Arts & humanities</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Economics</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Reading & language arts</small></a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-white"><small>Life skills</small></a>
                </li>
            </ul>
        </div>
    </div>
</div>
