<div class="row">
    <div class="col-md-6 justify-content-end">
        <h4>Picture Goes Here</h4>
    </div>
    <div class="col-md-6">
        <h1>For every student,</h1>
        <h1>every classroom.</h1>
        <h1>Real results.</h1>
        <p>We’re a nonprofit with the mission to provide a free, world-class</p>
        <p>education for anyone, anywhere.</p>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">Learners</button>
                <button type="button" class="btn btn-primary">Teachers</button>
                <button type="button" class="btn btn-primary">Districts</button>
                <button type="button" class="btn btn-primary">Parents</button>
            </div>
        </div>
    </div>
</div>