<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>{{text}}</h1>
            <h1>{{text2}}</h1>
            <h1>{{text3}}</h1>
            
            <p>{{text4}}</p>
            
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary">Learners</button>
                    <button type="button" class="btn btn-primary">Teachers</button>
                    <button type="button" class="btn btn-primary">Districts</button>
                    <button type="button" class="btn btn-primary">Parents</button>
                </div>
            </div>
        </div>
    </div>
    
</div>