
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-2"></div>
        <div class="col">
            <h1 class="text-white pl-5 py-4"> Science </h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="card-columns pb-2">
                <div class="card">
                    <div class="card-body">
                      <div class="col">
                        <h5 class="text-danger"><a href="#" class="text-danger">High school biology</a></h5>
                        <p class="text-secondary"><a href="#" class="text-secondary">Genes, cells, and organisms</a></p>
                        <p class="text-secondary"><a href="#" class="text-secondary">Growth and feedback in organisms</a></p>
                        <p class="text-secondary"><a href="#" class="text-secondary">Matter and energy in organisms</a></p>
                    </div>
                    </div>
                  </div>
                  <div class="row"></div>
                  <div class="card">
                    <div class="card-body">
                      <div class="col">
                        <h5 class="text-danger"><a href="#" class="text-danger">AP / college biology</a></h5>
                        <p class="text-secondary"><a href="#" class="text-secondary">Genes, cells, and organisms</a></p>
                        <p class="text-secondary"><a href="#" class="text-secondary">Growth and feedback in organisms</a></p>
                        <p class="text-secondary"><a href="#" class="text-secondary">Matter and energy in organisms</a></p>
                    </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="col">
                        <h5 class="text-danger"><a href="#" class="text-danger">High school chemistry beta</a></h5>
                        <p class="text-secondary"><a href="#" class="text-secondary">Structure and properties of matter</a></p>
                    </div>
                    </div>
                  </div>
            </div>
            
        </div>
        <div class="col-md-2"></div>
        
    </div>
    <div *ngFor="let Science of sciences;">
      <khanacademy-science-card title={{Science.title}} text={{Science.text}} imagePath={{Science.imagePath}}>Loading card</khanacademy-science-card>
    </div>
</div>