<div class="dropdown">
    <button class="btn btn-light dropdown-toggle text-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Courses
    </button>
    <ul class="dropdown-menu p-4 dropdown-menu-light" style="max-width: 1000px;" aria-labelledby="dropdownMenuButton2" >
      <div class="list-group text-primary">
        <a routerLink="/science" class="list-group-item-action text-primary">Science</a>
        <a href="#" class="list-group-item-aciton text-primary" href="#">Math: High School & College</a>
        <a href="#" class="list-group-item-action text-primary" href="#">Arts & Humanities</a>
        <a href="#" class="list-group-item-action text-primary" href="#">Reading & Language Arts</a>
      </div>
    </ul>
  </div>