<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <div class="row">
        <div class="col-md-6 order-md-2 mb-4 justify-content-center px-5 py-5">
            <div class="col"></div>
            <div class="col">
                <h4 class="text-white ">Help Us Do More</h4>
            <p class="text-white">
                {{text}} <strong>{{strong1}}</strong> {{text1}}
            </p>
            </div>
            <div class="col"></div>
        </div>
        <div class="col-md-6 order-md-2 mb-4 justify-content-center">
            <ul class="list-group">
                <p class="text-white">
                    Select gift frequency
                </p>
                
                <ul class="list-group list-group-horizontal">
                    <button type="button" class="btn btn-outline-light active" aria-pressed="true">Monthly</button>
                    <button type="button" class="btn btn-outline-light">One Time</button>
                </ul>
                
                <p class="text-white">
                    Select Amount
                </p>
                
                <ul class="list-group list-group-horizontal">
                    <button type="button" class="btn btn-outline-light">$12</button>
                    <button type="button" class="btn btn-outline-light">$20</button>
                    <button type="button" class="btn btn-outline-light">$30</button>
                    <button type="button" class="btn btn-outline-light">$40</button>
                    <button type="button" class="btn btn-outline-light">$50</button>
                    <button type="button" class="btn btn-outline-light">Other</button>
                </ul>
                
                <li class="list-group-item list-group-item alert-primary text-white">
                    <input class="form-check-input me-1" type="checkbox" value="" >
                    Yes, I'll generously add $0.30 each month to cover the transaction fees so Khan Academy can keep 100% of my donation.
                </li>
                <div class="mb-3">
                    <label for="name" class="text-white">Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <input type="text" class="form-control" id="username" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary">Give by credit card</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary">Give with PayPal</button>
                        </div>
                    </div>
                </div>
                <p class="text-white">
                    By donating, you agree to our <a href="#" class="text-white">terms of service</a> and <a href="#" class="text-white">privacy policy.</a>
                </p>
                

            </ul>
        </div>

    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>